<header>
    <div class="container-fluid">
        <div class="row bscs-site-container">
          <div class="col-md-8">
            <div style="display: inline-block;">
              <a class="bscs-logo mx-auto" href="https://bscs.org/" target="_blank"><img src="../assets/images/bscs_logo.svg"></a>
              <span class="sr-only">BSCS Logo and link to BSCS home page.</span>
            </div>
      
            <div style="display: inline-block; border-left: 1.5px solid rgba(48, 135, 180, 1); width: 285px; margin-left: .5rem; padding-left: .75rem; height: 100%; vertical-align: bottom;">
              <div style="vertical-align: bottom;">
                <p style="font-weight: 400; margin-bottom: 0; color: #8898aa; font-family: lora;"><em>Transforming science education through research-driven innovation</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="float-right" style="position: relative; height: 100%;">
              <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/bscsorg" class="sociala">
                <span>
                  <i class="fa fa-facebook social facebook header-social"></i>
                </span>
              </a>
              <a style="text-decoration: none;" target="_blank" href="https://twitter.com/bscsorg" class="sociala">
                <span>
                  <i class="fa fa-twitter social twitter header-social"></i>
                </span>
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/bscs" class="sociala">
                <span>
                  <i class="fa fa-linkedin social linkedin header-social"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
</header>
