<div class="container main-content-container" style="margin-top: 4rem;">
  <!-- <div class="row">
    <div class="col-12">
      <div id="load-spinner" class="loader mx-auto" style="margin: 3rem 0 20rem;"></div>
    </div>
  </div> -->
  <div id="section-1" class="row" style="margin-bottom: 2rem;">
    <div class="col">
      <app-i-frame-resize></app-i-frame-resize>
    </div>
  </div>
  <div id="section-2" class="row">
    <div class="col-xs-12 col-md-4">
      <app-dropdown></app-dropdown>
    </div>
  </div>
</div>