<div class="container-fluid main-content-container" style="margin-top: 4rem;">
  <div class="row">
    <div class="col-12">
      <div id="load-spinner" class="loader mx-auto" style="margin: 3rem 0 20rem;"></div>
    </div>
  </div>
  <div id="section-1" class="row invisible" style="margin-bottom: 2rem;">
    <div class="col">
      <app-i-frame-resize></app-i-frame-resize>
    </div>
  </div>
  <div id="section-2" class="row i-frame-padding invisible">
    <div class="col-xs-12 col-md-4">
      <app-submit-button></app-submit-button>
      <br>
      <div>
        <h2>ICC</h2>
      </div>
      <!--Begin Dropdown Section-->
      <p>Do you plan on using a 2-level <sup><a data-toggle="tooltip" data-placement="top" title="A 2 level impact model is ..."><i class="fa fa-info-circle" aria-hidden="true"></i></a></sup> or a 3-level <sup><a data-toggle="tooltip" data-placement="top" title="A 3 level impact model is ..."><i class="fa fa-info-circle" aria-hidden="true"></i></a></sup> impact model?</p>
      <app-dropdown id="icc-impact" [items]="['2-level', '3-level']"></app-dropdown>
      <app-dropdown id="icc-state" p="Which state is most similar (demographically) to your planned study context?" [items]="['Michigan','Texas','Wisconsin']"></app-dropdown>
      <app-dropdown id="icc-grades" p="What student grade levels are being targeted by the intervention?" [items]="['4','5','6','7','8','9','10','11']"></app-dropdown>

      <div class="r2">
        <h2>R<sup>2</sup></h2>
      </div>

      <app-dropdown id="r2-covariate" p="What type of covariate are you using?" [items]="['Student-level demographics','School-level pretest', 'Student-level pretest']"></app-dropdown>
      <app-dropdown id="r2-domain" p="In what academic domain is your outcome measure?" [items]="['Math','Reading','Science']"></app-dropdown>
    </div>
    <!--End Section-->
    <div class="col-xs-12 col-md-8">
      <app-results-box></app-results-box>
    </div>
  </div>
</div>