<!-- EXTERNAL LINK: https doesn't work -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://powerstudents.bscs.org/"></iframe> -->
<iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://joe-shiny.bscs.org/"></iframe>

<!-- INTERNAL LINK -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="http://192.168.100.17:3838"></iframe> --> 

<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="http://powerstudents.bscs.org/"></iframe> -->

<!-- OLD LINK -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://windshield.shinyapps.io/Predictional_APP2/"></iframe> -->
