<!-- EXTERNAL LINK: https doesn't work -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://powerstudents.bscs.org/"></iframe> -->
<iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://joe-shiny.bscs.org/" #frame></iframe>

<div id="reload-btn">
  <button class="btn btn-warning" #reload>Reload above calculator</button>
</div>
<!-- INTERNAL LINK -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="http://powerstudents.bscs.org/"></iframe> -->

<!-- OLD LINK -->
<!-- <iframe name="Frame1" style="border: none; width: 100%;" id="shinyFrame" src="https://windshield.shinyapps.io/Predictional_APP2/"></iframe> -->
