<div class="row">
  <div class="col">
    <h1 style="font-size: 1.75rem; margin-bottom: 1rem;">Estimating Effect Size, Intraclass Correlation, and Covariate Correlations for Studies of Science Education Interventions</h1>
    <p>This app will help you identify appropriate parameters estimates for use in a priori power analyses for science education research interventions. The three main parameters of interest are</p>
    <ol>
      <li>
        effect size,
      </li>
      <li>
        intraclass correlation,
      </li>
      <li>
        covariate correlations (R2 values)
      </li>
    </ol>
    <p>Please select one of the two options below.</p>
  </div>
  <div class="container" style="margin-bottom: 3rem;">
    <div class="row">
      <div class="col text-center">
        <a routerLink="/calculator" role="button" class="btn btn-lg btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</div>
