.pow-footer {
  background-color: #f6f6f9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -8px 8px -8px black;
  margin-top: 3rem;
  padding: 6rem 0;
  text-align: center; }

.bscs-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
  text-align: center; }

.footer-contact {
  border-radius: 8rem;
  bottom: 0;
  display: inline-block;
  font-size: 1.75rem;
  height: 3.75rem;
  line-height: 3.5rem;
  opacity: .7;
  text-decoration: none;
  width: 3.5rem; }
  .footer-contact:hover {
    opacity: 1;
    transition: 0.2s ease-in-out; }

.contacta:hover {
  text-decoration: none; }

.copyright-footer {
  text-align: center; }

.nav-item {
  font-size: 20px;
  padding-top: .45rem; }

.bscs-site-container {
  padding: 1rem; }

.navbar {
  box-shadow: 0 8px 8px -8px black; }

.navbar-borders {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.no-navbar {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 8px -8px black;
  height: 54px; }

.navbar-toggler {
  margin: .4rem 0; }

.header-social {
  border-radius: 8rem;
  bottom: 0;
  display: inline-block;
  font-size: 1.75rem;
  opacity: .7;
  position: absolute;
  text-decoration: none;
  width: 2rem; }
  .header-social:hover {
    opacity: 1;
    transition: 0.2s ease-in-out; }

.sociala:hover {
  text-decoration: none; }

.facebook {
  right: 6rem; }

.twitter {
  right: 3.3rem; }

.linkedin {
  right: 0; }

body {
  color: #404040;
  font-size: 1.1rem; }

h1,
h2,
h3 {
  color: #404040;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  transition: 0.2s ease-in-out; }

h4,
h5,
h6 {
  color: #404040;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  transition: 0.2s ease-in-out; }

p {
  color: #404040; }

a {
  color: #404040;
  text-decoration: underline;
  transition: 0.2s ease-in-out; }
  a:hover, a:active, a:focus {
    color: #3087b4; }
  a.nav-link {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none; }
    a.nav-link:hover, a.nav-link:focus {
      color: rgba(0, 0, 0, 0.7); }
  a.page-link {
    text-decoration: none; }

blockquote {
  color: #808080;
  font-style: italic; }

.navbar-brand {
  color: #404040 !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none !important; }
  .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #404040 !important;
    text-decoration: none !important; }

.nav-link.active {
  color: #404040 !important; }

.article-preview > a {
  color: #404040; }
  .article-preview > a > .article-title {
    margin: 30px 0 10px; }
  .article-preview > a > .article-subtitle {
    font-weight: 300;
    margin: 0 0 10px; }

.article-preview a {
  text-decoration: none !important;
  transition: 0.2s ease-in-out; }
  .article-preview a:hover {
    color: #3087b4;
    text-decoration: none; }
    .article-preview a:hover > h2 {
      color: #3087b4;
      transition: 0.2s ease-in-out; }
    .article-preview a:hover > h3 {
      color: #3087b4;
      transition: 0.2s ease-in-out; }
    .article-preview a:hover > p {
      color: #3087b4;
      transition: 0.2s ease-in-out; }
  .article-preview a:focus {
    color: #3087b4;
    text-decoration: none; }
    .article-preview a:focus > h2 {
      color: #3087b4;
      transition: 0.2s ease-in-out; }
    .article-preview a:focus > h3 {
      color: #3087b4;
      transition: 0.2s ease-in-out; }
    .article-preview a:focus > p {
      color: #3087b4;
      transition: 0.2s ease-in-out; }

.article-preview > .article-meta {
  color: #808080;
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  margin-top: 0; }
  .article-preview > .article-meta > a {
    color: #404040;
    text-decoration: none; }
    .article-preview > .article-meta > a:hover {
      color: #3087b4;
      text-decoration: underline; }
    .article-preview > .article-meta > a:focus {
      color: #3087b4;
      text-decoration: underline; }

.article-subtitle {
  font-weight: 300;
  margin: 0 0 10px; }

.article-meta {
  color: #808080;
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 1rem;
  font-style: italic;
  margin-top: 0; }

.btn {
  text-decoration: none !important; }

.team-member-description {
  margin-bottom: 3rem; }

@media only screen and (min-width: 992px) {
  .team-member-description {
    margin-bottom: 0; } }

.homepage-main-content {
  margin-bottom: 3rem; }

@media only screen and (min-width: 992px) {
  .homepage-main-content {
    margin-bottom: 0; } }

.article-separator {
  margin-top: 2rem; }

.ng-invalid.ng-touched {
  border-color: #dc3545; }
  .ng-invalid.ng-touched:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
  .ng-invalid.ng-touched ~ .invalid-feedback {
    display: block; }

.ng-valid.ng-touched {
  border-color: #28a745; }
  .ng-valid.ng-touched:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

.btn-bscs {
  background-color: #599fc3;
  border-color: #599fc3;
  color: white; }
  .btn-bscs:hover {
    background-color: #4593bc;
    border-color: #3087b4;
    color: white; }

.bscs-logo {
  display: block;
  width: 275px; }

.dropdown {
  padding-bottom: 1rem; }
  .dropdown > button {
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 35px;
    text-align: right;
    width: 100%; }
    .dropdown > button:focus {
      background-color: white;
      border: 1px solid #66afe9;
      outline: none; }
    .dropdown > button:hover {
      background-color: white; }

.dropdown-list {
  background-color: white;
  margin: 0;
  padding: 0; }
  .dropdown-list a {
    text-decoration: none !important; }
    .dropdown-list a:hover {
      background-color: whitesmoke;
      cursor: pointer; }

.dropdown-menu {
  width: 100%; }
  .dropdown-menu:hover {
    cursor: pointer; }

.dropdown-item:focus, .dropdown-item:hover {
  background-color: whitesmoke;
  outline: none; }

.dropdown-toggle {
  margin-bottom: 1.5rem;
  margin-top: -.5rem; }
  .dropdown-toggle::after {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }

.hidden {
  display: none;
  transition: display 2s; }

.reveal {
  display: inherit;
  transition: display 2s; }

.resultbox {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1.42857143;
  margin: 0 0 3.25rem;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word; }

.result-li {
  margin: 1.25rem; }

.loader {
  border: 16px solid #f5f5f5;
  /* Light grey */
  border-top: 16px solid #337ab7;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.gallery-heading {
  margin-bottom: 2rem; }

.row-gap {
  margin-bottom: 1rem; }

.question-font {
  font-family: Helvetica Neuef, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold; }

.gray-box {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  width: 100%; }
